<%-include("./partials/header.ejs")%>



<div class=" h-screen w-screen bg-cover bg-center bg-no-repeat" style="background-image: url('/images/bgimage.jpg');">
<%-include("./partials/nav.ejs")%>
<div  class="text-white w-fit px-10 py-10 mt-10">
    <h1 class="text-6xl text-gray-300 font-bold font-sans">MANAGE YOUR EXPENSES <br> EASILY  WITH  <br> EXPENSE  TRACKER</h1>
    <p class="font-sana text-gray-400  my-6 mb-10">An intuitive app that helps you track your daily expenses, manage <br> budgets, and reach your financial goals with  ease Take control of your spending with<br> our user-friendly app designed to help you budget better and save more</p>
    <a style="background: linear-gradient(to left, #2BC0E4,#EAECC6)"
    class=" text-2xl text-white px-10 py-3 border-2 border-gray-300" href="/user/signin">Get Start</a></div>

</div>

<%-include("./partials/footer.ejs")%>