<%- include("./partials/header.ejs") %>

<div class="h-screen w-screen bg-cover bg-center bg-no-repeat" style="background-image: url('/images/bgimage.jpg');">
  <%- include("./partials/nav.ejs") %>
  <div class="text-white w-fit px-10 py-10 mt-10 bg-black bg-opacity-50 rounded-lg">
    <h1 class="text-5xl text-blue-400 font-extrabold font-sans leading-tight">
      BILL MANAGEMENT <br> MADE SIMPLE <br> WITH BILL BUDDY
    </h1>
    <p class="text-gray-200 text-lg my-6 mb-10">
      Simplify your finances with Bill Buddy! <br> 
      Track expenses, manage payments, and stay organized. <br>
      Start managing your bills effortlessly today.
    </p>
    <a 
      class="text-xl px-8 py-3 rounded-full bg-gradient-to-r from-blue-400 to-green-300 text-white font-semibold hover:opacity-90 transition duration-200" 
      href="/user/signin">
      Get Started
    </a>
  </div>
</div>

<%- include("./partials/footer.ejs") %>
